<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">BLOG</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">主页</a></li>
				<li><a href="#">文章</a></li>
				<li><a href="about">关于</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<section class="row">
			<div class="col-sm-12">
				<div id="box" ng-controller="topArticlesCtrl">
        			<div ng-repeat="item in articles">
        				<div class="postTitle"><a ng-click='go(item.Path)'>{{ item.Title }}</a></div>
        		
        				<div class="postDesc">{{ item.PostDate | date: 'medium'}}</div>

        			</div>

        		</div>
			</div>
		</section>
	</div>

	<script src="static/js/jquery-2.2.0.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/angular.min.js"></script>
	<script src="static/js/topArticlesCtrl.js"></script>
	
</body>
</html>
